@use "../../../../styles" as *;

.formGroup--checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .formGroup__input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    margin-right: 4px;
    background-color: color(white);
    position: relative;
    transition: 0.6s;

    &:checked {
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: #99a1a7;
      background-color: color(white);

      &:after {
        content: "\2714";
        transform: rotate(15deg);
        font-size: 15px;
        position: absolute;
        top: -2px;
        left: 2px;
        color: color(mainColor);
      }
    }
  }
}
