@use "../../styles" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 20;

  &.show {
    display: block;
  }

  .modal__backdrop {
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }

  .modal__box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    min-width: 40%;
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

    @include maxWidth(575px) {
      width: 90%;
    }
  }
}
